<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>
<h2>
    The output of whatever my data and I can say pass that into this function and the
output of this, pass it into that, and I can just keep doing that and pipelining between functions.
</h2>
{{.}}

{{. | fdbl}}

{{. | fdbl | fsq}}

{{. | fdbl | fsq | fsqrt}}

</body>
</html>